<h1>Sign Up Form</h1>
	<div class="register">
		<form method="POST" id="register" action="">
			<h2>Sign Up Here</h2>
			<label>First Name</label><br>
			<input type="text" name="Fname" id="name"
			placeholder="Enter First name"><br><br>
			<label>Last Name</label><br>
			<input type="text" name="Lname" id="name"
			placeholder="Enter Last name"><br><br>
			<label>Phone Name</label><br>
			<select id="ph">
				<option>+91</option>
			</select>
			<input type="number" name="Mnum" id="num"
			placeholder="Enter mobile number"><br><br>
			<label>Email Id</label><br>
			<input type="email" name="email" id="name"
			placeholder="Enter your Email"><br><br>
			<label>Password</label><br>
			<input type="password" name="pass" id="name"
			placeholder="Enter Password"><br><br>
			<label>ReEnter Password</label><br>
			<input type="password" name="pass" id="name"
			placeholder="Enter Password"><br><br>
			<input type="radio" name="gender" value="male"> Male
			<input type="radio" name="gender" value="female"> Female<br><br>
			<input type="submit" value="submit" id="sub">



		</form>
	</div>

